body{
    background-color: rgb(43, 76, 92);
    color: rgb(218, 226, 233);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board{
    width: 405px;
    height: 400px;
    border: 1px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img{
    width: 79px;
    height: 78px;
    border: 0.5px solid lightblue;
}

#pieces{
    width: 891px;
    height: 160px;
    border: 1px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img{
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}